<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title>Weather Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <link rel="icon" type="image/x-icon" href="https://www.lajollapines.com/index_resource/site_icon.png" />

    <style type="text/css">
        html,
        body {
            height: 100%;
            width: 75%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            height: 100%;
            width: 100%;
            display: table-cell;
            vertical-align: top;
        }

        img {
            float: left;
            margin-right: 10px;
            margin-left: 10px;
        }

        p {
            font-size: 20px;
        }

        .center {
            margin: auto;
            width: 50%;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 33.33%;
            padding: 10px;
        }

        .margin {
            margin: 0 !important;
        }

        .typed-cursor {
            font-size: 20px;
        }
    </style>

</head>

<body>
    <div class="container">

        <div class="row s12 z-depth-4 card-panel">
            <p class="center" vertical-align="center">
                City
            </p>

            <img class="section" src="/weablog/other_icons/sandiego.png" alt="City Name" vertical-align="center">

            <p class="center" id="weatherDescription" vertical-align="center">
                Weather
            </p>

            <img class="section" id="weatherIcon" src="/weablog/weather_icons/01d.png" alt="WeatherIcon"
                vertical-align="center">

            <p class="center" id="temperature" vertical-align="center">
                Temperature
            </p>

            <img class="section" id="tempIcon" src="/weablog/temp_icons/cold.png" alt="TempIcon"
                vertical-align="center">
        </div>

        <div class="row s12 z-depth-4 card-panel">
            <p id="sunriseTime" class="center" vertical-align="center">
                Sunrise Time
            </p>

            <img class="section" src="/weablog/other_icons/sunrise.png" alt="sunriseIcon" vertical-align="center">

            <p id="sunsetsTime" class="center" vertical-align="center">
                Sunsets Time
            </p>

            <img class="section" src="/weablog/other_icons/sunsets.png" alt="sunsetsIcon" vertical-align="center">
        </div>

        <div class="row s12 z-depth-4 card-panel">
            <button class="btn waves-effect waves-light blue" id="postBlog" action="" method="">
                Undecided
            </button>
            <div id="typed-strings">
                <p><Strong>Weather Blog</Strong> changes it's <b>color theme</b> according to today's temperature.</p>
                <p><Strong>Weather Blog</Strong> updates real-time <b>weather data</b> in San Diego to the web page.</p>
                <p><Strong>Weather Blog</Strong> gives precise <b>sunrise & sunset time</b> so you won't miss them.</p>
            </div>
            <span id="typed"></span>
            <style>
                #typed {
                    font-size: 20px;
                    margin-left: 20px;
                }
            </style>

        </div>

        <script src="/weablog/typed_content.js">
        </script>

        <script type='text/javascript' id="fetchInfo" src="/weablog/realtime_weather.js"
            weatherJSON="<%= JSON.stringify(weatherJSON) %>" type="module">
            </script>

    </div>

</body>

</html>